{% extends 'base.html' %}
{% load static %}
{% block content %}


<script src="https://js.stripe.com/v3/"></script>

 <div class="container" >
  <div class="row mt-3">
   <div class="col-lg-6 mt-5"> 
   &nbsp;
     <h3>Choose the plan that’s right for you</h3><br>
     <h5><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
     <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
     </svg><i class="bi bi-check">Watch all you want. Ad-free.</i></h5>
     <h5><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
     <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
     </svg><i class="bi bi-check">Unlimited movies, TV shows and more.</i></h5>
     <form method="post" id="payment-form">
       {% if message %}
        <div class="alert alert-info">{{ message }}</div>
       {% endif %}
       {% csrf_token %}
       &nbsp;
      <div class="form-group">
        <label>Membership type</label>
        <select class="form-control" name="membership">
          <option>Choose</option>
          <option value="MONTHLY">MONTHLY - 1000 ₹</option>
          <option value="YEARLY">YEARLY - 10000 ₹</option>
        </select>
      </div>

      <div>
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
        </div>

        <div id="card-errors" role="alert"></div>
      </div>

      <button class="btn btn-primary mt-3">Become pro</button>
     </form>
    </div>

    <div class="col-lg-6" align="center">
      <img src="{% static 'img/payment.png' %}" class="img-resposive" width="400" height="658">
   </div>
  </div>
 </div>


<script type="text/javascript">
   
// Create a Stripe client.
var stripe = Stripe('pk_test_h0mUrT97E63HyK5ykMM8qK0z004tsreecG');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}


 </script>

{% endblock content %}