{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
<h3>Register</h3>
<form class="mx-auto" method="POST">
{% if message %} 
<div class="alert alert-info">{{ message }}</div>
{% endif %}
{% csrf_token %}
<div class="col-md-6">
<label>Username</label>
<input type="text" name="username" placeholder="Enter your username" class="form-control" required> 
</div>
<div class="col-md-6">
<label>Email</label>
<input type="text" name="email" placeholder="Enter your email" class="form-control" required> 
</div>
<div class="col-md-6">
<label>Password</label>
<input type="Password" name="Password" placeholder="Enter your password" class="form-control" required>  
</div>
<div class="col-md-6">
<button type="submit" class="btn btn-primary mt-4">Register</button>
</div> 
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="{% url 'login_attempt' %}">Already a user? Login</a>
</div>
</div>
</div>

{% endblock content %}